<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YunStore - Cấp lại mật khẩu</title>

    <!-- typeahead CSS -->
    <link href="css/typeahead-searchbar.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <% include header_ui %>
    <!-- End Header -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Quên mật khẩu?</h2>
                          <p>Nhập địa chỉ Email của bạn tại đây.</p>
                            <div class="panel-body">
                              <form action="/resetpassword" class="form-horizontal" method="post" id="form-forgot-passwd" autocomplete="off">
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text" class="form-control" id="email" name="email" placeholder="Địa chỉ email..." autofocus />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-3">
                                      <input class="btn btn-lg btn-primary btn-block" value="Gửi lại mật khẩu" type="submit">
                                    </div>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <% include footer_ui %>
    <!-- End Footer-->

    <!-- jQuery -->
    <script src="js/jquery-3.1.1.min.js"></script>

    <!-- jQuery typeahead -->
    <script src="js/typeahead.bundle.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/validator/jquery.validate.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        // scriptCode
        <% include scriptCode %>

        // validator
        $("#form-forgot-passwd").validate({
          rules: {
            email: {
              required: true,
              email: true,
              minlength: 12
            }
          },
          messages: {
            email: "Địa chỉ email không hợp lệ",
          },
          errorElement: "em",
          errorPlacement: function ( error, element ) {
            // Add the `help-block` class to the error element
            error.addClass( "help-block" );

            // Add `has-feedback` class to the parent div.form-group
            // in order to add icons to inputs
            element.parents( ".col-sm-12" ).addClass( "has-feedback" );

            error.insertAfter( element );

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !element.next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
            }
          },
          success: function ( label, element ) {
            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !$( element ).next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
          },
          highlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-12" ).addClass( "has-error" ).removeClass( "has-success" );
            $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
          },
          unhighlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-12" ).addClass( "has-success" ).removeClass( "has-error" );
            $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
          }
        });

      });
    </script>

</body>

</html>
