<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YunStore - Gaming Gear</title>
    <%# <base href="/">%>

    <!-- typeahead CSS -->
    <link href="css/typeahead-searchbar.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Header -->
  <% include header_ui %>
  <!-- End Header -->

    <div class="container">

      <div id="coverformlogin" class="col-sm-12 col-md-6 col-lg-6 bar-right-divide" style="margin: 50px 0px 50px 0px;" >
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center" >Bạn đã có tài khoản</h3>
          <h5 class="text-center" style="margin: 20px 0px 20px 0;"><em>Xin nhập tài khoản của bạn vào đây</em></h5>
          <div class="col-md-12">
            <form action="/checkout_yes" method="post" class="form-horizontal" role="form" id="form-checkout-yes" autocomplete="off" >
              <div class="form-group">
                  <div class="col-sm-12">
                    <input class="form-control" placeholder="E-mail..." name="email" id="email" type="text" autofocus >
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-12">
                    <input class="form-control" placeholder="Password..." name="passwd" id="passwd" type="password" >
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 30px 0px 0px 0px;">
                  <button type="submit" class="btn btn-lg btn-success btn-block">ĐĂNG NHẬP</button>
                  <%# <a href="quantri.html" class="btn btn-lg btn-success btn-block">Đăng nhập</a>%>
                </div>
              </div>
              <div class="form-group">
                  <p style="text-align: center; margin-top:10px;">
                      <a href="/forgotpasswd">Quên mật khẩu?</a>
                  </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" style="margin: 50px 0px 50px 0px; " >
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center" >Bạn chưa tạo tài khoản?</h3>
          <h5 class="text-center" style="margin: 20px 0px 20px 0;" ><em>Không sao! Hãy nhập email của bạn vào đây.</em></h4>
          <div class="col-md-12">
            <form action="/checkout_no" method="post" class="form-horizontal" role="form" id="form-checkout-no" autocomplete="off" >
              <div class="form-group">
                  <div class="col-sm-12">
                    <input class="form-control" placeholder="E-mail..." name="email_checkout_no" id="email_checkout_no" type="text" >
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 0px;">
                  <button type="submit" class="btn btn-lg btn-success btn-block">TIẾP TỤC</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!--./container-->

  <!-- Footer -->
  <% include footer_ui %>
  <!-- End Footer-->

  <!-- jQuery -->
  <script src="js/jquery-3.1.1.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../js/validator/jquery.validate.js"></script>

  <!-- jQuery typeahead -->
  <script src="js/typeahead.bundle.js"></script>

  <!-- jQuery TwbsPagination -->
  <script src="js/jquery.twbsPagination.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {

      // scriptCode
      <% include scriptCode %>

      if (shoppingCartItems.length == 0){
        window.location.href = "/cart";
      }

      // validator
      $("#form-checkout-yes").validate({
        rules: {
          email: {
            required: true,
            email: true,
            minlength: 10
          },
          passwd: {
            required: true,
            minlength: 3
          }
        },
        messages: {
          email: {
            required: "Chưa nhập email",
            email: "Địa chỉ email không hợp lệ",
            minlength: "Tối thiểu 10 ký tự",
          },
          passwd: {
            required: "Chưa nhập mật khẩu",
            minlength: "Tối thiểu 3 ký tự"
          }
        },
        errorElement: "em",
        errorPlacement: function ( error, element ) {
          // Add the `help-block` class to the error element
          error.addClass( "help-block" );

          // Add `has-feedback` class to the parent div.form-group
          // in order to add icons to inputs
          element.parents( ".col-sm-12" ).addClass( "has-feedback" );

          error.insertAfter( element );

          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if ( !element.next( "span" )[ 0 ] ) {
            $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
          }
        },
        success: function ( label, element ) {
          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if ( !$( element ).next( "span" )[ 0 ] ) {
            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
          }
        },
        highlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".col-sm-12" ).addClass( "has-error" ).removeClass( "has-success" );
          $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
        },
        unhighlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".col-sm-12" ).addClass( "has-success" ).removeClass( "has-error" );
          $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
        }
      });

      // validator
      $("#form-checkout-no").validate({
        rules: {
          email_checkout_no: {
            required: true,
            email: true,
            minlength: 10,
            remote: {
              url: "/admin/check_new_email",
              type: "post",
              data: {
                email: function() {
                  return  $("#email_checkout_no").val();
                }
              }
            }
          }
        },
        messages: {
          email_checkout_no: {
            required: "Chưa nhập email",
            email: "Địa chỉ email không hợp lệ",
            minlength: "Tối thiểu 10 ký tự",
            remote: "Email này đã đăng ký tài khoản"
          }
        },
        errorElement: "em",
        errorPlacement: function ( error, element ) {
          // Add the `help-block` class to the error element
          error.addClass( "help-block" );

          // Add `has-feedback` class to the parent div.form-group
          // in order to add icons to inputs
          element.parents( ".col-sm-12" ).addClass( "has-feedback" );

          error.insertAfter( element );

          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if ( !element.next( "span" )[ 0 ] ) {
            $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
          }
        },
        success: function ( label, element ) {
          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if ( !$( element ).next( "span" )[ 0 ] ) {
            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
          }
        },
        highlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".col-sm-12" ).addClass( "has-error" ).removeClass( "has-success" );
          $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
        },
        unhighlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".col-sm-12" ).addClass( "has-success" ).removeClass( "has-error" );
          $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
        }
      });

    })
  </script>
</body>

</html>
