<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YunStore - Giỏ hàng</title>

    <!-- typeahead CSS -->
    <link href="css/typeahead-searchbar.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <% include header_ui %>
    <!-- End Header -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 table-responsive">
                <div class="text-center" id="cart_is_empty" style="display: none;">
                  <h2>Giỏ hàng trống!</h2>
                  <hr>
                </div>
                <table class="table table-hover" id="table_shoppingcart">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th class="text-right">Giá</th>
                            <th class="text-right">Tổng</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <% include footer_ui %>
    <!-- End Footer-->

    <!-- jQuery -->
    <script src="../js/jquery-3.1.1.min.js"></script>

    <!-- jQuery typeahead -->
    <script src="js/typeahead.bundle.js"></script>

    <!-- jQuery dataFormat -->
    <script src="../js/jquery-dateFormat.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        // scriptCode
        <% include scriptCode %>

        function displayListCartItems(){
          if (shoppingCartItems.length <= 0) {
            $("#table_shoppingcart").hide();
            $("#cart_is_empty").show();
          } else {
            $("#table_shoppingcart > tbody").html("");
            var htmlString = "";

            $.each(shoppingCartItems,function(index , item){
              //console.log(item.name);
              htmlString += "<tr>";
              htmlString += `
                <td class="col-sm-4 col-md-4 col-lg-4">
                    <div class="media">
                        <a class="thumbnail pull-left" href="/product/${item.name_seo}"> <img class="media-object" src="../img_/${item.img_}" style="width: 72px; height: 72px;" > </a>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>${item.name}</strong></h4>
                        </div>
                    </div>
                </td>
                <td class="col-sm-2 col-md-2 col-lg-2" style="text-align: center">
                  <span hidden item-index="${item.id}"></span>
                  <button class="button_sl btn btn-sm btn-danger" data-value="-"><span class="glyphicon glyphicon-minus"></span></button>
                      <input type="text" name="slsp_${item.id}" id="slsp_${item.id}" value="${item.soluong}" style=" width: 30px; text-align: center;" disabled >
                  <button class="button_sl btn btn-sm btn-danger" data-value="+"><span class="glyphicon glyphicon-plus"></span></button>
                </td>
                <td class="col-sm-2 col-md-2 col-lg-2 text-right gia_item" value-item="${item.gia}"><strong>`+ numberWithCommas(item.gia) + `</strong></td>
                <td class="col-sm-2 col-md-2 col-lg-2 text-right"><strong><span class="gia_tong">` + numberWithCommas(item.gia*item.soluong) + `</span></strong></td>
                <td class="col-sm-2 col-md-2 col-lg-2">
                  <span hidden item-index="${item.id}"></span>
                  <button class="button_huy btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> Hủy</button>
                </td>
                `
              htmlString += "</tr>"

              $("#table_shoppingcart > tbody:last").append(htmlString);
              htmlString = "";
            });
            htmlString += `
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong><span class="total_items"></span></strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                    <a class="btn btn-success pull-right" href="/checkout">
                        Thanh toán <span class="glyphicon glyphicon-play"></span>
                    </a></td>
                </tr>
                `
            $("#table_shoppingcart > tbody:last").append(htmlString);

            var total_items = 0;
            $.each(shoppingCartItems, function(index,item) {
              total_items += item.soluong * item.gia;
            });
            $(".total_items").html(numberWithCommas(total_items));
          }
        }

        displayListCartItems();

        // chỉnh số lượng san phảm
        $(".button_sl").on("click", function() {
          var $button = $(this);
          var oldValue = $button.parent().find("input").val();

          if ($button.attr("data-value") == "+") {
            var newVal = parseFloat(oldValue) + 1;
          } else {
           // Don't allow decrementing below zero
            if (oldValue > 1) {
              var newVal = parseFloat(oldValue) - 1;
            } else {
              newVal = 1;
            }
          }

          $button.parent().find("input").val(numberWithCommas(newVal));
          // update tổng giá sp theo số lượng
          var gia_item = $button.parent().parent().find(".gia_item").attr("value-item");
          var newprice = newVal * gia_item;
          var item_id = $button.parent().find("span").attr("item-index");
          $button.parent().parent().find(".gia_tong").html(numberWithCommas(newprice));
          $.each(shoppingCartItems, function(i,e){
            if (e.id == item_id) {
              e.soluong = newVal;
              return false;
            }
          });
          // Lưu thông tin vào localStorage
          localStorage["shopping_cart_items"] = JSON.stringify(shoppingCartItems);
          var total_items = 0;
          $.each(shoppingCartItems, function(index,item) {
            total_items += item.soluong * item.gia;
          });
          $button.parent().parent().parent().find(".total_items").html(numberWithCommas(total_items));
        });

        // Huy sản phẩm
        $(".button_huy").on("click",function() {
          var $button = $(this);
          var item_id = $button.parent().find("span").attr("item-index");
          $.each(shoppingCartItems,function(i,e){
            if (e.id == item_id) {
              shoppingCartItems.splice(i,1);
              return false;
            }
          });
          $button.parent().parent().remove();


          // Lưu thông tin vào localStorage
          localStorage["shopping_cart_items"] = JSON.stringify(shoppingCartItems);
          var total_items = 0;
          if(shoppingCartItems.length == 0){
            total_items = 0;
          }else {
            $.each(shoppingCartItems, function(index,item) {
              total_items += item.soluong * item.gia;
            });
          }

          $(".total_items").html(numberWithCommas(total_items));
          $("#count_giohang").html(shoppingCartItems.length);
          if (shoppingCartItems.length <= 0) {
            $("#table_shoppingcart").hide();
            $("#cart_is_empty").show();
          }
        })

      });
    </script>

</body>

</html>
