<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YunStore - Cấp lại mật khẩu</title>

    <!-- typeahead CSS -->
    <link href="../css/typeahead-searchbar.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/shop-homepage.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <% include header_ui %>
    <!-- End Header -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Thay đổi mật khẩu</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <form class="form-horizontal" id="form-change-passwd" action="/change_password" autocomplete="off" method="POST">
                                        <div class="form-group">
                                          <label class="col-sm-4 control-label" >Password hiện tại:</label>
                                          <div class="col-sm-8">
                                            <input type="password" class="form-control" id="oldpasswd" name="oldpasswd" placeholder="Password..." />
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label class="col-sm-4 control-label" >Password mới:</label>
                                          <div class="col-sm-8">
                                            <input type="password" class="form-control" id="newpasswd" name="newpasswd" placeholder="Password mới..." />
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label class="col-sm-4 control-label" >Nhập lại Password mới:</label>
                                          <div class="col-sm-8">
                                            <input type="password" class="form-control" id="reenternewpasswd" name="reenternewpasswd" placeholder="Nhập lại Password mới..." />
                                          </div>
                                        </div>
                                        <button class="btn btn-lg btn-warning btn-block" type="submit">Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    <hr>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <% include footer_ui %>
    <!-- End Footer-->

    <!-- jQuery -->
    <script src="../js/jquery-3.1.1.min.js"></script>

    <!-- jQuery typeahead -->
    <script src="../js/typeahead.bundle.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/validator/jquery.validate.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        // scriptCode
        <% include scriptCode %>

        // validator
        $("#form-change-passwd").validate({
          rules: {
            oldpasswd: {
              required: true,
              minlength: 3
            },
            newpasswd: {
              required: true,
              minlength: 3
            },
            reenternewpasswd: {
              required: true,
              minlength: 3,
              equalTo: "#newpasswd"
            }
          },
          messages: {
            oldpasswd: {
              required: "Xin nhập password hiện tại",
              minlength: "Ít nhất 3 ký tự",
            },
            newpasswd: {
              required: "Chưa nhập password mới",
              minlength: "Ít nhất 3 ký tự"
            },
            reenternewpasswd: {
              required: "Chưa nhập lại password mới",
              minlength: "Ít nhất 3 ký tự",
              equalTo: "Thông tin không trùng"
            }
          },
          errorElement: "em",
          errorPlacement: function ( error, element ) {
            // Add the `help-block` class to the error element
            error.addClass( "help-block" );

            // Add `has-feedback` class to the parent div.form-group
            // in order to add icons to inputs
            element.parents( ".col-sm-8" ).addClass( "has-feedback" );

            error.insertAfter( element );

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !element.next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
            }
          },
          success: function ( label, element ) {
            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !$( element ).next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
          },
          highlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-8" ).addClass( "has-error" ).removeClass( "has-success" );
            $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
          },
          unhighlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-8" ).addClass( "has-success" ).removeClass( "has-error" );
            $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
          }
        });

      });
    </script>

</body>

</html>
